.container {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.4rem;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: inherit;

  &-blue {
    &:hover {
      color: blue;
    }
  }
}

.underline {
  text-decoration: underline;
}