.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;

  &-submit {
    background-color: $color-primary;
    color: #fff;
    padding: 1.4rem 1.5rem;

    &:hover {
      box-shadow: 0 10px 10px rgba(#000, 0.3);
    }
  }
}